body{
 margin: 0;
 padding: 0;
 font-family: Lato, arial;
}
.clear{clear:both}
.wrapper {
margin:auto;
height: 100%;
}

@media only screen and (max-width: 768px)
{
	#section-3 .content-ct31 .content-ct3-1 {
		width: 100%;
	}
	#section-2 .content-2 .content-ct2 {
		width:100%;
	}
	#slide .slide-inner h1 {
		width: 100%;
	}
	

}
.header{
	background-color:#f6f9f9;
	height: 100%;
	padding:40px;
	}
.header #logo{
	
}
#slide input[type="submit"] {
	font-size: 20px;
	color: #fff;
	background: transparent;
	border: 1px solid #15a4fa;
	width:30%;
}
.slide-inner{
	padding: 100px 0;
	float:top;
	height: 33%;
}
.slide-inner h1{
	color:#ffffff;
	font-size: 70px;
	border-bottom: 1px solid #15a4fa;
	width:30%;
	text-shadow: 2px 2px 2px #cc0000;
}/*phan dang sua */
.slide-inner input {
	color: white;
	border: 1px solid #15a4fa;
	padding: 10px 30px;
	background: transparent;
}
#slide {
	color:white;
	background: url('image/Strict.png');	
	background-size:cover;
	background-position: center;
}
#slide .slide-inner h1 {
	margin-bottom: 40px;
}
#slide .slide-inner p {
	margin-bottom: 40px;
}
#slide .slide-inner a {
	margin-bottom: 40px;
}
section {
	padding:40px;
}
#section-1 {
	background:#bad9d9;
}
#section-1 .content-1 {
	margin : 0 auto;
	}
.content-1 .content-ct1 {
	margin: auto;
	
	/* height:250px;  */
	width:100%;  
}
#section-1 .content-1 h1
{
	margin :0;
}

#section-2 .content-2:after {
	content:"";
	clear:both;	
	 display:block; 
}
#section-2 .content-ct2{
	text-align: center;
	float: left;
	width: 33%;
}
#section-3 {
	background:white;
}
#section-3 .content-ct3 {
	text-align:center;
}
#section-3 .content-ct31:after {
	content: "";
	display: block;
	clear: both;
}

#section-3 .content-ct3-1 {
	float:left;
	width: 30%;
	padding: 1%;
	box-sizing: border-box;
	text-align: center;
	
}

.overmock {
	position: relative;
}
.overmock .overlay {
	content: " ";
	
	position: absolute;
	top: 0;
	left: 0;
	background-color:#2cacf7;
	opacity: 0;
	display: none;
	color: white;
	display: block;
	
	--webkit--transform: scale(0.5); 
	transform: scale(0.5);
	--webkit--transition: all 1s ease-in-out 0s;
	transition: all 1s ease-in-out 0s;
}
.overmock:hover .overlay {
	opacity: 0.7;
	width: 100%;
	--webkit--transform: scale(1);
	transform: scale(1);

	}
#section-3 .content-ct3-1 img{
	width: 100%;
	height: 100%;
}


#section-4 {
	background-image: url('image/slide.png');
	background-position:center;
	background-size: cover;
	height:400px;
	opacity: 1px;
}
#section-4 .content-4 {
	text-align: center;
}
#section-4 p {
	color:white;
}
#section-4 h1 {
	color:white;
}

#section-4 input[type='text'],#section-4 input[type='email'], #section-4 textarea{
	width: 75%;
	padding:12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
    border: 2px solid #f8f8f8;
    border-radius: 4px;
    background: transparent;
}


#section-4 input[type="submit"] {
	/* width: 50%; */
	float: right;
	padding:12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
    border: 2px solid #15a4fa;
    border-radius: 4px;
    background: transparent;
    margin-right: 25%; 
}

#footer {
	background-color:#bad9d9;
}
#footer .footer-1:after {
	clear: both;
}
/*#footer .footer-1 {
	width: 30%;
}*/
#footer .footer-ct1 {
	float:right;
}
#footer span{
	color:#e5e8e8;
}
#footer button {
	background: #f8f8f8;
	color: blue;
}